.title{
    color: white;
    padding-top: 20px;
}

.colo-black{
    color: black;
}

main{
    background-color: #b91450;
    height: 100vh;
    color: #b91450;
}

#section_1{
    background-color: white;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.input{
    border-radius: 3px;
    border: 1px solid #b91450;
}

.button{
    border: 1px solid #b91450;
    color: #b91450;
    border-radius: 3px;
    margin-right: 10px;
}

#section_2{
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

.grey{
    background-color: grey;
}

.biglietto{
    border-top: solid 1px black;
    border-bottom: solid 1px black;

}